<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a.two:visited {
            color: rgb(101, 101, 255);
        }

        a.two:hover {
            font-size: 150%;
            color: hotpink;
        }
    </style>
</head>

<body>
    <!-- thang nguyen -->
    <div class="text-center text-lg-start" >
        <nav class="navbar navbar-expand-lg navbar-dark container " >
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:3000"><img style="width: 150px; height: 40px; "
                    src="https://i.imgur.com/XHeteU6.jpg"
                    alt=""></a>
              </li>
    
              <div class="dropdown" style="margin-top: 10px; padding-left: 10px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Thêm
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    
    
                  <li class="nav-item">
                    <a style="margin-top: 7px ;color: rgb(89, 87, 87);  font-weight: bold;" class="nav-link"
                      href="http://localhost:3000/addsp">Thêm sản phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a style="margin-top: 7px ;color: rgb(89, 87, 87);  font-weight: bold;" class="nav-link"
                      href="http://localhost:3000/account/addTL">Thêm
                      thể loại user</a>
                  </li>
    
                </div>
              </div>
              <div class="dropdown" style="margin-top: 10px; padding-left: 10px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  User
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li class="nav-item">
                    <a style="margin-top: 7px ;color: rgb(89, 87, 87);  font-weight: bold;" class="nav-link"
                      href="http://localhost:3000/">Danh sách user</a>
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </nav>
      </div>
    <div class="container "
        style="  border-radius: 10px; border-width: 5px; border-color: yellowgreen; ">
        <div class="row">
            <div class="col">
                <img style="margin-left: 200px; margin-top: 30px; height: 200px; width: 200px;"
                    src="https://cdn-icons-png.flaticon.com/512/748/748137.png" />
                <h1 style="text-align: center; margin-left: 170px; color: green; font-weight: bold;">Thêm mới</h1>
            </div>
            <div style="width: 700px; height: 500px; ">
                <form action="" method="post" enctype="multipart/form-data">


                    <div style="width: 600px; height: 400px; margin-top: 50px; margin-left: 50px; ">
                        <div>
                            <input class="form-control"
                                style="width:400px; margin-bottom: 15px; margin-left: 100px; border-radius: 10px; border-width: 2px;"
                                type="file" name="file_anh">
                        </div>
                        <div style="margin-bottom: 20px;">
                            <input type="text" class="form-control" name="name"
                                style="width:400px; margin-left: 100px; border-radius: 10px; border-width: 2px;"
                                placeholder="Nhập name">
                        </div>
                        <select name="id_thefirm"
                            style="width:400px; margin-left: 100px; border-radius: 10px; border-width: 2px; margin-bottom: 20px; height: 40px; text-align: center; background-color: aliceblue; font-size: 20px; font-weight: bold;">
                            <% listTL.forEach(row=> { %>
                                <option value="<%= row._id %>">
                                    <%= row.name %>
                                </option>
                                <% }) %>
                        </select>
                        <div style="margin-bottom: 20px;">
                            <input type="text" class="form-control" name="content"
                                style="width:400px; margin-left: 100px; border-radius: 10px; border-width: 2px;"
                                placeholder="Nhập content">
                        </div>
                        <div style="margin-bottom: 20px;">
                            <input type="number" class="form-control" name="price"
                                style="width:400px; margin-left: 100px; border-radius: 10px; border-width: 2px;"
                                placeholder="Nhập price">
                        </div>

                        <div style="margin-bottom: 20px;">
                            <input type="text" class="form-control" name="describe"
                                style="width:400px; margin-left: 100px; border-radius: 10px; border-width: 2px;"
                                placeholder="Nhập describe">
                        </div>


                        <button type="submit" class="btn btn-warning "
                            style="margin-left: 100px;margin-top: 10px;width:400px; border-radius: 10px; border-width: 1px;">Submit</button>
                    </div>
                </form>


            </div>
        </div>
    </div>









    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Links  -->
        <hr style="border-width: 2px;">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Company
                        </h6>
                        <p>
                            Quản trị web company cho chúng ta thấy được hầu hết các sản phẩm trên sàn thương mại lớn...
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            User
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Nhóm 4</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Class
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">SU22-B1-MOB104-MD17309-Quan Ly Du An</a>
                        </p>


                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Teacher</h6>
                        <p><i class="fas fa-home me-3"></i>Nguyễn Quang Hưng</p>



                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="">MyWebsite.com</a>
        </div>

        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>